.home{
        background-color: rgba(209,208,208,0.8);
    }
    li{
        display: inline;
    }
    li a{
        text-decoration: none;
        padding-left: 60px;
        color: black;
    }
    
      
    #mid{
        padding-right: 200px;
    }
      #navigation>div>img{height: 90px;
    
      }  
      #navigation>div>{
          margin-top: 5px;
          
      }
      .circle2{
          position: static;
          
          right: 1000px;
          
      }
      #navigation{padding-top: 27px;
        margin-top: 50px;
        display: flex;
        
}
      
      .circle{
          position: relative;
        height: 400px;
        width: 400px;
        left: 1000px;
        border-radius: 50%;
        color: black;
        border-style: dotted;
        top: 550px;
        z-index: -1;
    }
    
    
    .streetfood>h1>span{color:#EAAB1B;
    
    }
    .streetfood{
        padding-left: 60px;
        padding-bottom: 100px;
    }
    .streetfood>button{background-color:#6CB840 ;
    width:90px;
    length:100px;
    padding: 8px 20px;
    border-radius: 16px;
    border: none;
    color: white;
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 50px;}
    .send{
        background-color:#6CB840 ;
        width:90px;
        length:100px;
        padding: 8px 20px;
        border-radius: 16px;
        border: none;
        color: white;
        font-size: 10px;
        font-weight: 700;
        margin-bottom: 50px;
    }
    .aboutpage>img{
        width: 55%;
        height: 55%;
        padding-left: 10px;
        margin-left: 50px;
    
    }
    .aboutpage{
                
                    
        display: flex;
        flex-direction: row;
        
        
    }
    #email{width:250px;
        padding: 8px 20px;
        border-radius: 16px;
        margin: 20px;
        border: none;
        background-color: white;
        text-align: left;
    font-size: 10px;
    }
    .contactus{
        display: flex;
        flex-direction: column;
        background-color: rgba(255,215,124,0.3);
        align-items: center;
        margin-top: 0.1;
        margin-left: 100px;
        margin-right: 100px;
        width: 1250px;
        
        box-sizing: border-box;
    }
    h4{
        text-align: center;
    }
    .contactus>h4>span{
        color: #6CB840;
    }
    *{
        font-family: 'poppins';
    }
    .contactus>p{
        text-align: center;
        
    }

    .together{
    height: auto;
    width: 300px;
    margin-top: 100pt;
    line-height: 20pt;
    text-align: center;
    padding-left: 10px;
    }
   
    .together>h1{
        color: #EAAB1B;
    }
    .exploremenu>h4>span{
        color: #6CB840;
    }
    .exploremenu>h4{
        text-align: center;
    }
    .exploremenu{
       
        align-items: center;
        box-sizing: border-box;
        background-color: rgba(201,236,181, 0.3);
        margin-top: 0;
        padding: 8px 14px;
        margin: 45px,0px;
        margin-left: 100px;
        margin-right: 100px;
        
        margin-bottom: 1px;
    
    }
    .content , .down{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-right: 30pt;
    padding-left: 30pt;
    padding-top: 70pt;
    padding-bottom: 120pt;
    
        
    }
    .content>div , .down>div{
        height: 100px;
    width: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    margin-right: 16px;
    border-bottom-right-radius: 30px;
    
    }
    .content>div>img , .down>div>img{
        height: 130px;
        width: 150px;
    float: left;
        position: relative;
       left: -10%;
    
        bottom: -25px;
        margin-left: 2px;
        display: flex;
        justify-content: right;
     
     
    
    }
    .content>div>p , .down>div>p{
        border-radius:0 0 20px 0;
        text-align: center;
        width: 300px;
        height: 150px;
        padding-left: 7px;
        padding-top: 10px;
        padding-bottom: 60px;
        padding-right: 10px;
        background-color: white;
        display: flex;
        margin-left: -90px;
        margin-right: 5px;
        margin-top: 45px;
        height: 103px;
        display: inline-flex;
        justify-content: right;
        margin-bottom: 80px;
        padding-right: 40px;
    }
     
        .content>div>p>span, .down>div>p>span{
            font-weight: 700;
            font-size: 20;
            padding: 1px;
           
    
        }
        .hotdeals{
            background-color: #C9ECB5;
            padding: 8px 14px;
        
        margin-top: 0;
        margin-left: 100px;
        margin-right: 100px;
        padding-right: 1000px;
        width: 1170px;
        
       
        }
        .hotdeals>h4{
            padding-top: 50px;
        }
        .hotdeals>h4>span{
            color:#6CB840 ;
        
        }
        .hotdeals>h4{
            margin-top: 5px;
        }
         .hotdeals,.images{
           float: left; 
           
           
        padding-right: 30pt;
    padding-left: 30pt;
    padding-top: 0pt;
    padding-bottom: 20pt;
        }
        .hotdeals2{
            display: flex;
            justify-content: space-evenly;
            padding-right: 30pt;
    padding-left: 30pt;
    
        }
        
        .text>h2{
            color: #6CB840;
        }
         #juice{
            margin-top: -157px;
            position: relative;
            margin-left: -15px;
    
            
        }
        #Burger{
            position: absolute;
            margin-left: -400px;
            margin-top: 95px;
            ;
            
        }
        .text{
            margin-left: 80px;
            margin-top: 100px;
            padding-left: 70px;
            text-align: center;
            margin-right: 5px;
            
             }
        .text>h3{
            text-align: left;
        }
        .text>p{
            text-align: center;
        }
        .footer{
            display: inline-flex;
            
            background-color:rgba(201,236,181, 0.3);
            flex-direction: row;
            
            
    
            margin-top: 40px;
            margin-left: 95px;
        margin-right: 0px;
        width: 1252px;
        
        
    
    
    
        }
        .days{
            border-right: dotted gray ;
            padding-top: 50px;
            padding-left: 25px;
            padding-bottom: 70px;
            padding-right: 40px;
        }
        .address{
            padding-left: 20px;
            padding-top: 100px;
           margin-left: 20px;
    
        }
        .days p:nth-child(2){
            padding-top: 40px;
        }
        .follow{
            margin-left: 250px;
            padding-left: 120px;
            padding-top: 100px;
            padding-right: 10px;
        }
        .end>button{
        margin-top: 150px;
        margin-right: 10px;
    margin-left: 25px;
        }
    .button{
        background-color:#6CB840 ;
    width:60px;
    
    padding: 8px 20px;
    
    border: none;
    color: white;
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 50px;
    }