*{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        overflow-x: hidden;
        font-family: poppins;

}
.nav1{
        width: 700px;
        padding: 70px;
        margin: 5px;
        margin-left: 25px;
        justify-content: space-evenly;
 
        
}
.nav2{
        width: 600px;
        padding: 70px;
        margin: 5px;
        margin-right: 25px;
        justify-content: space-evenly;

}
ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: transparent;
        justify-content: space-evenly;
        display: inline-flex;
      }

li {
        float: left;
        
      }
      
      li a {
        display: block;
        color:black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: poppins;
        
      }
      .special{
        color: #6CB840;      
        position: fixed;
        right: 110px;
        top: 215px;
        font-size: 43px;
        font-family:poppins;
        font-weight: 300;



      }
      
      
      li a:hover {
        background-color: white;
      }
      .orange{
              color: #EAAB1B;

      }
      #text1{
              display: block;
      }
      .green{
              color: #6CB840;
      }
      button{
              background-color: #6CB840;
              color: white;
              border-radius: 10px;
              border: #6CB840;
              padding: 10px;
              width: 120px;
              margin: 5px;
              position: relative;
              left: 40px;
      }
      .about{
              color: #EAAB1B;
      }
      .menugreen{
              color: #6CB840;
      }
      .happyhourgreen{
              color: #6CB840;
      }
      .paragraph1{
        width: 300px;
        padding: 5px;
        margin: 0px;
        text-size: large;
        margin-left: 45px;
      }
      .heading2{
        width: 300px;
        padding: 5px;
        margin: 0px;
        font-size: large;
        margin-left: 45px;
      }
      .heading1{
        width: 300px;
        padding: 5px;
        margin: 0px;   
        font-size: 200%; 
        margin-left: 45px;
      }
  #drink{
        position: fixed;
        float: left;
        width: 370px;
        padding: 0px;
        margin:0px;

        
  }
  .happyhourgreen{
        width: 50px;
        padding: 0px;
        margin: 0px;  
        align-items: center;
  }
  .pizz{
        color: rgb(27, 27, 27);      
        position: fixed;
        right: 420px;
        top: 280px;
        font-size: 30px;
        font-weight: lighter;
  }
  .hot{
        position: fixed;
        right: 241px;
        top: 375px;
        font-size: x-large;
        font-weight: lighter;
        text-align: center;
        margin: 0px;
        width: 370px;
        padding: 0px; 
        bottom: 60px;
  }
  .fries{
          margin: 4px;
          font: weight 100px;
          font-family: Arial, Helvetica, sans-serif;
          position: fixed;
          font-family: 1px;
  }

  .us{
          color: #6CB840;
  }
  .contact{
         text-align: center;font-size: xx-large;
         margin: 0;
         padding: 0;
         margin-bottom: 40px;
         
  }
.hotdeals{
        text-align: center;
}
.contacttext{
        margin: 0px;
        width: 370px;
        padding: 0px;    
        text-align: center;font-size:large;
        margin-left: 470px;
        
}
input{
        width: 550px;
        height: 40px;
        margin-left: 377px;
        margin-top: 50px;
        border: 0px solid #FEF8DB;
        border-radius: 20px;
        position: absolute;
}
label{
        margin-left: 390px;
        position: fixed;
        bottom: 363px;
        font-family: poppins;

}
.send{
        background-color: #6CB840;
        color: white;
        border-radius: 20px;
        border: #6CB840;
        margin-left: 390px;
        position: fixed;
        bottom: 285px;
        left: 200px;
        font-family: poppins;
        font-size: medium;
}
.drink{
        position: fixed;
        bottom: 65px;
        left: 105px;

}
.burger{
        position: fixed;
        left: 150px;
        bottom: 0px;
}
.about{
        position: fixed;
        text-align: right;
        right: 300px;
        top: 150px;
        font-family: poppins;
        font-size: 50px;
        font-weight: 200;
        font-stretch: 60px;
}
.abouttext{
        position: fixed;
        right: 241px;
        top: 225px;
        font-size: x-large;
        font-weight: lighter;
        text-align: center;
        margin: 0px;
        width: 370px;
        padding: 0px; 
        bottom: 60px;      
}
.eatingtg{
        position: fixed;
        left: 100px;
        bottom: 100px;
        
}